


.circle1{
width: 320px;
height: 320px;
}
.circle2{
width: 150px;
height: 150px;
}

.circle{
  position: absolute;
 border-radius: 50%;
 border:2px solid red;
 left:50.1%;
 top:50.2%;
 transform: translate(-50%, -50%);
 box-sizing: border-box;
}
.arrow-box1{
  display: block;
  width: 2px;
  height: 100%;
  background-color: red;
  position: absolute;
  top: 0%;
  left: 50%;
}
.arrow-box2{
  display: block;
  width: 100%;
  height: 2px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 0%;  
}
.figury{
width:0;
height: 0;
border-bottom: 20px solid red;
border-right: 10px solid transparent;
border-left: 10px solid transparent;
display: block;
position: relative;
transform-origin: 50% 0%;
left: 50%;
top: 50%;
}
.triangle1{
  position: absolute;
  transform: translate(-82px, 1px) rotate(90deg);
}
.triangle2{
  position: absolute;
  transform: translate(-9px, 75px);
}
.triangle3{
  position: absolute;
  transform: translate(65px, 1px) rotate(-90deg);
}
.triangle4{
  position: absolute;
  transform: translate(-9px, -74px) rotate(-180deg);
}
.triangle5{
  position: absolute;
  transform: translate(-60px, -50px) rotate(135deg);
  animation: triangel5 2s ease infinite;
}
.triangle6{
  position: absolute;
  transform: translate(-62px, 50px) rotate(45deg);
  animation: triangel6 2s ease-in-out infinite;
}
.triangle7{
  position: absolute;
  transform: translate(44px, 54px) rotate(-45deg);
  animation: triangel7 2s ease-out infinite;
}
.triangle8{
  position: absolute;
  transform: translate(44px, -50px) rotate(-135deg);
  animation: triangel8 2s ease-in infinite;
}
.triangle {
  width: 0;
  height: 0;
  border-top: 20px solid red;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  transform: rotate(-135deg);
  animation: triangel 2s ease-in infinite;
}

.rotate-triangle {
  display: block;
  width: 20px;
  height: 168px;
  top: 50%;
  left: 50%;
  position: absolute;
  border: 1px solid green;
  transform: translate(-50%, -100%);
  animation: run 2s infinite linear;
  transform-origin: bottom center;
  animation-direction: reverse;

}

@keyframes run {
  0% {
    transform:  translate(-50%, -100%) rotate(0deg);
  }
  100% {
    transform:   translate(-50%, -100%) rotate(360deg);
  }
}

@keyframes triangel8{
  0%{
    transform: translate(44px, -50px) rotate(0deg);
  }
  100%{
    transform: translate(44px, -50px) rotate(360deg)
  }
}


@keyframes triangel7{
  0%{
    transform: translate(44px, 54px) rotate(0deg);
  }
  100%{
    transform: translate(44px, 54px) rotate(360deg)
  }
}
@keyframes triangel6{
  0%{
    transform: translate(-62px, 50px) rotate(0deg);
  }
  100%{
    transform: translate(-62px, 50px) rotate(360deg)
  }
}

@keyframes triangel5{
  0%{
    transform: translate(-60px, -50px) rotate(0deg);
  }
  100%{
    transform: translate(-60px, -50px) rotate(360deg)
  }
}

@keyframes triangel{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg)
  }
}
